{{ define "user_nav" }}
<header>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="/app/middle_name/index" class="navbar-item"><img src="/app/middle_name/store/images/JapaneseMiddleName.png" width="112" height="28"></a>
      </div>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/app/middle_name/index" class="navbar-item">ユーザートップ</a>
        <a href="/app/middle_name/create" class="navbar-item">ミドルネーム作成</a>
        <a href="/app/middle_name/history" class="navbar-item">作成履歴</a>
        <a href="/app/middle_name/logout" class="navbar-item">ログアウト</a>
      </div>
    </div>
  </nav>
</header>
{{ end }}
