{{ template "head" }}
<body>
  {{ template "nav" }}
  <main id="top">
    <div class="contents_area">
      <h1>Createing Japanese MiddleName</h1>
    </div>
    <div data-animate="bounce" class="animated text-area">
      <div class="card text-box">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="" alt="">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">MiddleNameとは？</p>
            </div>
          </div>
          <div class="content">
            みなさんは「MiddleName」ってご存知ですか？日本ですと性＋名（LastName＋FirstName）が一般的な名前の表し方ですよね。しかし、外人の方の名前を見てみると、LastNameとFirstNameの間にも名前がありますよね？例えば、アメリカ大統領だった「John Fitzgerald Kennedy」さんですと「Fitzgerald」がミドルネームになります。
            <br>
          </div>
        </div>
      </div>
      <div class="card text-box">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="" alt="">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">日本にはないのか？</p>
            </div>
          </div>
          <div class="content">
            日本では法律的には認められていないらしいです。しかし、昔の日本には似たようなものが存在しました。昔の氏名制度は
            <ul>
              <li>家名（名字）</li>
              <li>通称</li>
              <li>氏（本姓）</li>
              <li>カバネ</li>
              <li>本名</li>
            </ul>
            のように分かれていました。
            <br>
          </div>
        </div>
      </div>
      <div class="card text-box">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="" alt="">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">実際に作ってみよう！</p>
            </div>
          </div>
          <div class="content">
            <p>もし自分の名前に日本版のミドルネームがあったらどんな感じになるか実際にためしてみましょう！</p>
            <p>上のナビバーからログインまたは新規登録してください！</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{ template "footer" }}
</body>
{{ template "foot" }}
