{{ template "head" }}

<body>
    {{ template "user_nav" }}
    <main>
        <article>
            <div class="is-mobile">
                <div class="container">
                    <h1 style="margin-top: 60px;">本当にログアウトしますか？</h1>
                    <form class="form" action="/app/middle_name/user/logout" method="post">
                        <input type="submit" value="ログアウトします！" class="button is-primary">
                        <p>{{.err}}</p>
                    </form>
                </div>
            </div>
        </article>
    </main>
    {{ template "footer" }}
</body>
{{ template "foot" }}