{{ template "head" }}

<body>
  {{ template "user_nav" }}
  <main>
    <div class="body" style="margin-top: 60px;">
      <div data-animate="bounce" class="animated text-area" style="margin-top: 0 !important;">
        <div class="card text-box" style="margin-top: 25vh;width: 40% !important;">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">MiddleName作成画面へ！</p>
              </div>
            </div>
            <div class="content">
              下のボタンよりミドルネーム作成位画面に移動できます！
              <br>
            </div>
            <a class="button is-primary is-rounded" href="/app/middle_name/user/create">ミドルネーム作成</a>
          </div>
        </div>
        <div class="card text-box" style="margin-top: 25vh;width: 40% !important;">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">作成履歴画面へ！</p>
              </div>
            </div>
            <div class="content">
              これまで作成してきた履歴が見れます！
              <br>
              <br>
            </div>
            <a class="button is-primary is-rounded" href="/app/middle_name/user/history">作成履歴</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{ template "footer" }}
</body>
{{ template "foot" }}