@charset "UTF-8";

h1 {
  font-size: 110px;
  color: white;
}

.contents_area {
  height: 100vh;
  padding-top: 30vh;
  margin: 0;
}

@media (max-width: 550px) {
  h1 {
    font-size: 55px;
  }
}

h1 span {
  opacity: 0;
  transform: translate(0, -5px);
}

h1 span.hero-anime {
  transition: 1500ms;
  opacity: 1;
  transform: translate(0, 0);
}

.text-area {
  color: #83b792;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 200px auto 0;
  padding-bottom: 200px;
}

@media (max-width: 550px) {
  .text-area {
    display: inline;
  }
}

.text-box {
  margin: 0 10px;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fdfcf6;
}

@media (min-width: 550px) {
  .text-box {
    width: 30%;
  }
}

@media (max-width: 550px) {
  .text-box {
    margin: 100px 10px;
  }
}

.text-box h2 {
  text-align: center;
}

.text-box p {
  text-align: left;
}

.buttonFont {
  margin: 0 20px 100px;
  display: inline-block;
  background-color: white;
  /*背景色*/
  color: #83b792;
  /*文字色*/
  font-size: 3em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 1em;
  /*ボタン内の余白*/
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.buttonFont :hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  /*浮き上がるように*/
}
